*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(206, 186, 132);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    text-align: center;
    width: 1100px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#resultado{
    text-align: center;
    padding: 20px;

}

footer {
    margin-top: 1em;
    color: white;
    text-align: center;
    font-style: italic;
}

p{
    font-size: 16px;
}

.car{
    margin-top: 5em;
}